<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Journal Entries

    <a data-toggle="collapse" href="#place_journal_entries_new_form">
      Add journal entry
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @place.journal_entries.each do |journal_entry| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to journal_entry, journal_entry %>

        <% if current_user == journal_entry.user %>
          <%= link_to journal_entry, method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="place_journal_entries_new_form">
        <%= render partial: "places/place_journal_entries_new_form" %>
      </div>
    </div>

  </ul>
</div>
